<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manage.foruser.Mapper.UserMapper">

    <insert id="insertMember" parameterType="com.manage.foruser.vo.User">
        INSERT INTO whynot (id, password, name, phone, role, education, isMajor)
        VALUES (#{id}, #{password}, #{name}, #{phone}, #{role}, #{education}, #{isMajor})
    </insert>

    <select id="loginCheck" resultType="String" >
        SELECT ROLE
        from test
        WHERE id = #{id} and password = #{password}
    </select>
</mapper>