<html>
<head>
    <title>로그인 성공</title>
</head>
<body>
로그인 성공했습니다.
<br/>
접속 id는 {{id}} 입니다.
<br/>
접속된 유저의 roles는 {{role}} 입니다.
<br/>
<form method="post" action="/logout">

    <button type="submit">로그아웃</button>
</form>
</body>
</html>